/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color 
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }
  width: 0;
  height: 0;
  content: '';
  z-index: 999;
  border-#{opposite-position($direction)}: ($size * 1.5) solid $color;
  $perpendicular-borders: $size solid transparent;
  @if $direction==top or $direction==bottom {
    border-left: $perpendicular-borders;
    border-right: $perpendicular-borders;
  }
  @else if $direction==right or $direction==left {
    border-bottom: $perpendicular-borders;
    border-top: $perpendicular-borders;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

$logo-red: #e73942;
$logo-green: #73c153;
$logo-blue: #018ed6;
$footer-height: 48px;
.bg-gray {
  background-color: #DDD;
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
  position: relative;
}

#orbit-wrapper {
  margin-top: -27px;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

header.header3 {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
  img {
    max-height: 50px;
  }
  #main-menu {
    padding: 0;
    background-color: #FFFFFF;
    &>div {
      background-color: #FFFFFF;
      //box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
    }
    ul {
      background-color: #FFFFFF;
      //padding-left: 70px;
      li:hover {
        background-color: #F0F0F0;
      }
      li {
        background-color: inherit;
        a {
          background-color: inherit;
          &.active {
            background-color: inherit;
            color: $logo-blue !important;
          }
        }
        ul {
          background-color: #FFFFFF;
          padding-left: 0;
        }
      }
    }
  }
  .top-bar-right > ul > li:first-child {
    height: 72px;
  }
}

header.header2 {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
  img.spinner {
    -webkit-animation: spin 250ms linear infinite;
    -moz-animation: spin 250ms linear infinite;
    animation: spin 250ms linear infinite;
  }
  ul {
    list-style: none;
    margin: 0 auto;
    li {
      display: inline-block;
      width: 80px;
      padding: 5px 5px 2px 5px;
      margin: 0 10px;
      font-weight: bolder;
      border-bottom: 4px solid #fefefe;
      position: relative;
      &.long {
        width: 180px;
        &.active {
          &::after {
            left: 80px;
          }
        }
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: inherit;
        }
      }
      &:hover {
        cursor: pointer;
        //border-radius: 10px;
        border-bottom: 4px solid $logo-blue;
        color: $logo-red;
      }
      &.active {
        color: $logo-red;
        border-bottom: 4px solid $logo-blue;
        a {
          color: $logo-red;
        }
        &::after {
          //@include triangle(bottom, $logo-blue, 20px);
          position: absolute;
          top: 0px;
          left: 30px;
          width: 0;
          height: 0;
          content: '';
          z-index: 2;
          border-top: 5px solid $logo-green;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
      }
    }
  }
}

#content-wrapper {
  p,
  h2,
  h2::after {
    padding-left: 5px;
    padding-right: 5px;
  }
  hr {
    border-color: #666;
  }
  padding: 30px 0px;
  min-height: 100%;
  &::after {
    content: '';
    display: block;
    height: $footer-height;
  }
  .content-header {
    margin-bottom: 30px;
  }
  .heal-section {
    div {
      //position: relative;
      h1 {
        margin-top: 10px;
      }
      &:nth-child(n) {
        background-color: rgba(1, 142, 214, 0.8);
      }
      &:nth-child(2n) {
        background-color: rgba(1, 142, 214, 0.6);
      }
      button {
        //position: relative;
        //bottom: 0;
      }
      h1,
      h4,
      p {
        color: #FFFFFF;
      }
      a {
        color: #666;
      }
    }
  }
  section.methods-section {
    h2 {
      position: relative;
      margin-top: 10px;
      padding-bottom: 7px;
    }
    h2::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      bottom: 0;
      left: 5px;
      border-bottom: 3px solid $logo-red;
    }
  }
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(230, 230, 230, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  padding: 12px;
  overflow: hidden;
  white-space: nowrap;
  a {
    color: $logo-blue;
    font-weight: bolder;
    &:hover {
      color: darken($logo-blue, 10%);
    }
  }
}

#map {
  height: 300px;
  width: 100%;
  margin: 0 auto 30px auto;
}

i.material-icons.md-48 {
  font-size: 48px;
  color: $logo-green;
  &.green {
    color: $logo-green;
  }
  &.red {
    color: $logo-red;
  }
  &.blue {
    color: $logo-blue;
  }
}

// Roman's 2017 fixes

header {
  width: 100%;
  user-select: none;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
  .contacts {

    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1% 2% 0 0;
    .link-1 {
      float: right; 
      color: black;
      padding: 0 1%;
      box-shadow: inset 0 0.5px 10px transparent;
      &:hover {
        box-shadow: inset 0 0.5px 10px rgba(0, 0, 0, .15);
        color: #e73942;
        border-radius: 25%;
      }
    }
  }
  .text-center ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li.link {
      margin: 0 0.5em;
      display: inline-block;
      position: relative;
      border-bottom: 4px solid;
      border-bottom-color: transparent;
      a {
        display: inline-block;
        font-weight: bold;
        padding: 5px 1em;
        color: black;
      }
      &:hover {
        border-bottom-color: #018ed6;
        a {
          color: #e73942;
        }
        .menu.vertical {
          max-height: 100px;
        }
      }
      &.active {
        border-bottom-color: #018ed6;
        a {
          color: #e73942;
        }
        &:after {
          position: absolute;
          top: 0;
          left: calc(50% - 10px);
          width: 0;
          height: 0;
          content: '';
          z-index: 2;
          border-top: 5px solid #73c153;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
      }
      .menu.vertical {
        overflow: hidden;
        background: white;
        max-height: 0;
        transition: all 0.2s ease;
        margin-top: 4px;
        position: absolute;
        z-index: 2;
        width: 100%;
        li {
          border: 1px solid red;
          display: block;
          width: 100%;
          margin: 0;
          border-radius: 4%;
          a {
            display: block;
            padding: .7rem 1rem;
            line-height: 1;
          }
          &:hover {
            box-shadow: inset 0 3px 15px rgba(0, 0, 0, .25);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .about .doc .thumbnail{
    margin-top: 3em;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    text-align: justify;
  }
}

.main {
  .content-wrapper {
    width: 90%;
    margin: 1% 5% 3%;
  }
}

.publications .thumbnail {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .hamburger {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .navigation {
    display: none !important;
  }
}

@media screen and (min-width: 64em) {
  .publications .largeNew {
    width: 37.5%;
  }
}

@media screen and (max-width: 1024px){
  .methods .menu{
    display: none;
  }
}