<header class="header3">
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title"></div>
    </div>
    <div class="top-bar" id="main-menu"> <!-- data-sticky-container-->
        <div class="row">  <!-- data-sticky data-options="marginTop:0;" style="width:100%"-->
            <div class="top-bar-left">
                <ul class="vertical medium-horizontal dropdown menu" data-dropdown-menu>
                    <li class="menu-text">
                        <img src="assets/img/oczbatyn.png" alt="Ocz Batyn logo">
                    </li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">Zespół</a></li>
                    <li>
                        <a href="#">Medycyna<br>Mongolska</a>
                        <ul class="menu vertical">
                        <li><a href="methods.html">Jak leczymy</a></li>
                        <li><a href="publications.html">Publikacje</a></li>
                        <li><a href="culture.html">Kultura</a></li>
                        </ul>
                    </li>
                    <li><a href="visit.html">Wizyty</a></li>
                    <li><a href="contact.html">Kontakt</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="vertical medium-horizontal menu" data-dropdown-menu>
                    <li></li>
                    <li><a href="https://www.facebook.com/Dr-nauk-med-Ocz-BATYN-Tradycyjna-Medycyna-Mongolska-294199474013325"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://youtube.com/"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="http://logility.pl/ocz/">PL</a></li>
                    <li><a href="http://logility.pl/ocz/en/">EN</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
